build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
logs/
.architectury-transformer/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/forge/mods/flywheel-forge-1.20.1-0.6.10-7.jar
/forge/mods/
/common/mods/
