../build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/.junie/memory/
/.codex
/.aiassistant/
/.ai/
/common/build/
/fabric/build/
/neoforge/build/
/forge/build/
/.junie/AGENTS.md
/build/reports/problems/problems-report.html
