#structure stuff
public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.gen.FlatGenerationSettings field_202247_j #STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #structures
#concrete
public net.minecraft.block.ConcretePowderBlock field_200294_a
#wasTouchingWater
public net.minecraft.entity.Entity field_70171_ac
#shadowRadius
public net.minecraft.client.renderer.entity.EntityRenderer field_76989_e

#dispenser behaviors
public net.minecraft.block.DispenserBlock field_149943_a
#dispenser items
public net.minecraft.tileentity.DispenserTileEntity field_146022_i
#mineshaft
public net.minecraft.world.gen.feature.structure.MineshaftPieces.Piece

#label fake blockstates
public-f net.minecraft.client.renderer.model.ModelBakery field_209607_C

#loom slot
public-f net.minecraft.inventory.container.LoomContainer field_217036_f
#beacon name
public net.minecraft.tileentity.BeaconTileEntity field_146008_p

#horse eating animation
#public net.minecraft.entity.passive.horse.AbstractHorseEntity func_110266_cB()V() # eating

