
#concrete
public net.minecraft.world.level.block.ConcretePowderBlock f_52058_
#wasTouchingWater
public net.minecraft.world.entity.Entity f_19798_
#shadowRadius
public net.minecraft.client.renderer.entity.EntityRenderer f_114477_

#mineshaft
public net.minecraft.world.gen.feature.structure.MineshaftPieces.Piece

#beacon name
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58654_

#font stuff
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.gui.Font$StringRenderOutput f_92948_
public net.minecraft.client.gui.Font$StringRenderOutput f_92949_

#antique ink
public net.minecraft.client.gui.Font m_92863_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;

#projectile has been shot
public net.minecraft.world.entity.projectile.Projectile f_150164_

#food
public-f net.minecraft.world.entity.animal.Chicken f_28233_
public-f net.minecraft.world.entity.animal.horse.AbstractHorse f_30527_

#cancel drop falling block
public net.minecraft.world.entity.item.FallingBlockEntity f_31947_

#fox sleeping
public net.minecraft.world.entity.animal.Fox m_28626_(Z)V



public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67031_ # NOISE_AFFECTING_FEATURES
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ # DEFAULTS
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ # structureConfig
public-f net.minecraft.world.level.levelgen.StructureSettings f_189361_ #configuredStructures


